{% extends 'fanfic/base_generic.html' %}

{% block content %}
<div class="row mt-4">
    <!-- Левая колонка с деталями фанфика -->
    <div class="col-md-4">
        <h2>{{ fanfic.title }}</h2>
        {% if fanfic.image %}
        <img src="{{ fanfic.image.url }}" class="img-fluid" alt="{{ fanfic.title }}" style="width: 244px; height: 366px; border: 2px solid">
        {% endif %}
        <div class="mt-3">
            <p><strong>Описание:</strong> {{ fanfic.description }}</p>
            <p><strong>Тэги:</strong> {{ fanfic.tags }}</p>
            <p><strong>Автор:</strong> {{ fanfic.user }}</p>
            <p><strong>Лайков:</strong> {{ fanfic.rating }}</p>
        </div>
        <form method="post" action="{% url 'increase_rating' fanfic.pk %}" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Нравится</button>
        </form>
    </div>
    
    <!-- Правая колонка со списком глав -->
    <div class="col-md-8">
        <h3>Главы</h3>
        <ul class="list-group">
            {% for chapter in fanfic.chapters.all %}
            <li class="list-group-item">
                <a href="{% url 'chapter_detail' fanfic.pk chapter.pk %}">{{ chapter.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
