{% extends 'fanfic/base_generic.html' %}

{% block content %}
<div class="row mt-4">
    <h2 class="text-center mb-4">{{fanfic.title}}</h2>
    <!-- Левая колонка с деталями фанфика -->
    <div class="col-md-4 rounded border">
        <div class="row g-2 mt-4">
            {% if fanfic.image %}
            <img src="{{ fanfic.image.url }}" class="col-2 rounded-circle" alt="{{ fanfic.title }}" style="width: 150px; height: 150px;">
            {% endif %}
            <h4 class="col-5">{{ fanfic.title }}</h4>
        </div>
        <div class="mt-3">
            <p><strong>Описание:</strong> {{ fanfic.description }}</p>
            <p><strong>Тэги:</strong> {{ fanfic.tags }}</p>
            <p><strong>Автор:</strong> {{ fanfic.user }}</p>
            <p><strong>Лайков:</strong> {{ fanfic.rating }}</p>
        </div>
        <form method="post" action="{% url 'increase_rating' fanfic.pk %}" class="mt-3 mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Нравится</button>
        </form>
    </div>
    
    <!-- Правая колонка со списком глав -->
    <div class="col-md-8">
        <h3 class="text-center">Главы</h3>
        <ul class="row">
            {% for chapter in fanfic.chapters.all %}
            <li class="list-group-item" style="width: 100px; height: 45px;">
                <a href="{% url 'chapter_detail' fanfic.pk chapter.pk %}" class="btn btn-dark">{{ chapter.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
