{% extends 'fanfic/base_generic.html' %}

{% block content %}
<h1 class="mt-4">Фанфики</h1>
<div class="row">
    {% for fanfic in fanfics %}
    <div class="col-md-4 col-lg-2 mb-1 d-flex align-items-stretch">
        <div class="card" style="padding: 5px">
            {% if fanfic.image %}
            <div class="card-img-container">
                <img src="{{ fanfic.image.url }}" class="card-img-top" alt="{{ fanfic.title }}">
            </div>
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ fanfic.title }}</h5>
                <p class="card-text">{{ fanfic.description }}</p>
                <p class="card-text">Рейтинг: {{ fanfic.rating }}</p>
                <a href="{% url 'fanfic_detail' fanfic.pk %}" class="btn btn-primary mt-auto">Читать</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
