{% extends 'fanfic/base_generic.html' %}

{% block content %}
<div class="row mt-4 mb-4">
    <h2 class="text-center mb-4">Мои фанфики</h1>
    {% for fanfic in fanfics %}
    <div class="col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
        <div class="card rounded">
            {% if fanfic.image %}
            <div class="card-img-container">
                <img src="{{ fanfic.image.url }}" class="card-img" alt="{{ fanfic.title }}">
            </div>
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ fanfic.title }}</h5>
                <p class="card-text">{{ fanfic.description }}</p>
                <p class="card-text">Рейтинг: {{ fanfic.rating }}</p>
                <form method="post" action="{% url 'delete_fanfic' fanfic.pk %}" class="mt-2 m-auto">
                    {% csrf_token %}
                    <a href="{% url 'fanfic_detail' fanfic.pk %}" class="btn btn-dark m-auto">Читать</a>
                    <button type="submit" class="btn btn-secondary" onClick='return confirmSubmit()'>Удалить</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script LANGUAGE="JavaScript">
    
    function confirmSubmit()
    {
    var agree=confirm("Вы уверены, что хотите удалить фанфик?");
    if (agree)
     return true ;
    else
     return false ;
    }
</script>
    
{% endblock %}
