{% extends 'fanfic/base_generic.html' %}

{% block content %}
<div class="mt-4">
    <h2 class="text-center">Поиск фанфиков</h2>
    <form method="get" action="{% url 'search_results' %}" class="mt-3">
        <div class="mb-3">
            <label for="search" class="form-label">Введите теги для поиска:</label>
            <input type="text" name="q" id="search" class="form-control">
        </div>
        <button type="submit m-5" class="btn btn-dark">Поиск</button>
    </form>
</div>
{% endblock %}
